@model Note

@{

}



<div class="container">
    <div class="card mb-3">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"/Image/{Model.Image}";
            <img src=@image_path class="card-img-top">
        }
        <div class="card-body">
            @if(Model.Solved == false)
            {
                <small class="text-danger">This post is still unsolved</small>
            }else{
                <small class="text-success">This post is solved</small>
            }
            <p class="card-text"><small class="text-muted">@Model.CreatedDate</small></p>
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Body</p>
            @{
            await Html.RenderPartialAsync("_MainComment", new CommentViewModel { NoteId = Model.Id, MainCommentId = 0 });
            }
            @foreach (var c in Model.MainComments)
                {
                <div class="card" style="margin-top: 25px">
                    <div class="card-body">
                        <h5 class="card-title">@c.Message</h5>
                        <p class="card-text">@c.Created</p>
                    </div>
                     @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { NoteId = Model.Id, MainCommentId = c.Id });
                      }
                    @foreach(var sc in c.SubComments)
                    {
                       <div class="card" style="margin-left: 25px; margin-top: 25px; margin-bottom: 25px;">
                        <div class="card-body">
                            <h5 class="card-title">@sc.Message</h5>
                            <p class="card-text">@sc.Created</p>
                        </div>
                       </div>
                    }
                    
                </div>

                }

        </div>
    </div>
</div>
